@font-face {
  font-family: "Sofia Pro";
  src: url("../sofia-pro/Sofia Pro Regular Az.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../sofia-pro/Sofia Pro Medium Az.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../sofia-pro/Sofia Pro Semi Bold Az.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("../sofia-pro/Sofia Pro Bold Az.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
